body {
  font-family: verdana;
  font-size: 15px;
  background-color: #0d0f14;
  color: white;
  margin: 0;
  overflow: hidden;
}

#app {
  width: 100vw;
  height: 100vh;
}

canvas {
  display: block;
  width: 100%;
  height: 100%;
}
